.App {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
.mainWrap {
  width: 60%;
  height: 350px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mainTitle {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  padding: 10px;
}
.checkWrap {
  margin: 5px;
  display: flex;
}
.filterAll,
.filterIng,
.filterEnd {
  margin: 5px;
  padding: 6px 15px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 0.9rem;
}
.listwrap {
  margin: 5px;
}
.inputwrap {
  margin: 5px;
}
.inputItem {
  height: 20px;
}
.inputBtn {
  margin-left: 5px;
  padding: 5px 10px;
  background-color: #f1dfca;
  border: 1px solid #d7c5b2;
  border-radius: 2px;
}
.filterSelected {
  background-color: #ccc;
  color: #fff;
}
